@import url('https://fonts.googleappis.com/css?family=Poppins:200,200,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.btn .play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
    background: #f42e79;
    border-radius: 50%;
    box-shadow: 0 15px 25px #f42e7966;
}
.btn.active .play {
    box-shadow: 0 0 0 150vh #f42e79;
    transition: 0.5s;
}

.btn .play::before {
    content: '';
    border: 25px solid #fff;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
}

.btn p {
    font-weight: 500;
    font-size: 1em;
    color: #888;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

.clip video {
    max-width: 900px;
    transition-delay: 0.5s;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.clip.active {
    transform: translate(-50%, -50%) scale(1);
}
.clip .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

/* 使之变成响应式的 */
@media (max-width: 991px) {
    .clip video {
        max-width: 90%;
    }
}
