*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #252839;
}

h2{
    position:relative;
    font-size: 14vw;
    color:#252839;
    -webkit-text-stroke:0.3vw #383d52;
}

h2::before {
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    color:aqua;
    -webkit-text-stroke:0vw #383d52;
    overflow: hidden;
    animation:animate 3s linear;
    animation-fill-mode:forwards;
}

@keyframes animate {
    0% {
        width:0;

    }
    100% {
        width:100%;

    }
}


